.page-container {
    position: relative;
    width: 800px;
    margin: auto;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.header {
    font-family: "Baloo Paaji 2";
    font-size: 1.8em;
    margin-bottom: 2%;
}

.card {
    width: 174px !important;
}

.image-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.image {
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
    object-fit: contain;
}

.card-text {
    font-family: "Baloo Paaji 2";
    font-size: 0.9em;
    margin-top: 5%;
}

.card-symbols {
    width: 100%;
    display: inline-block;
}

.card-symbol {
    width: 12.5%;
    margin-right: 5%;
}

.dropdown-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
}

.text, .ui.input>input {
    font-family: 'Baloo Paaji 2' !important;
}